<div class="box">
    <h2 class="box__title">
        <span class="fas fa-sign-in-alt fa-fw box__title-icon"></span>
        Recover password
    </h2>
    <form class="box__form form" method="POST">
        <label class="form__label" for="token">Enter password recovery code</label>
        <input class="form__input" name="token" id="token" type="text" required>

        <button class="form__submit">Verify account</button>

        <a class="form__link" href="{{ url('app_account_password-recovery_init') }}">Don't have the code?</a>
    </form>
</div>
<div class="box">
    <a href="{{ url('app_login') }}">Back to login</a>
</div>