<div class="box">
    <h2 class="box__title">
        <span class="fas fa-sign-in-alt fa-fw box__title-icon"></span>
        Recover password
    </h2>
    <form class="box__form form" method="POST">
        <label class="form__label" for="password">Enter new password</label>
        <input class="form__input" name="password" id="password" type="password" required>

        <label class="form__label" for="retype-password">Retype your new password</label>
        <input class="form__input" name="retype-password" id="retype-password" type="password" required>

        <button class="form__submit">Set new password</button>
    </form>
</div>
<div class="box">
    <a href="{{ url('app_login') }}">Back to login</a>
</div>