<div class="box">
    <h2 class="box__title">
        <span class="fas fa-sign-in-alt fa-fw box__title-icon"></span>
        Recover password
    </h2>
    <p>Password resetted successfully</p>
</div>
<div class="box">
    <a href="{{ url('app_login') }}">Back to login</a>
</div>