{% extends 'base.html.twig' %}

{% block title %}Password recovery | Cloud SSO{% endblock %}

{% block body %}
    <div class="container">
        {% include 'components/header.html.twig' %}
        {% include 'components/password-recovery/password-form.html.twig' %}
        {% include 'components/footer.html.twig' %}
    </div>
{% endblock %}
